<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'
      rel='stylesheet'
    />
    <title>Send Password Reset Link</title>

  </head>

  <body>
    <div
      style='font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2'
    >
      <div style='margin:50px auto;width:70%;padding:20px 0'>

        <p style='font-size:1.1em'>Hi,</p>
        <p>This is your password reset link</p>
        <a href='{{resetLink}}'>Reset Password Link</a>
      </div>
    </div>
  </body>

</html>